body {
  background-color: rgb(11, 29, 9);
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: white;
  font-size: 50px;
}

ul {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  color: bisque;
}